In [18]:
import pandas as pd
import numpy as np

from IPython.display import display, HTML

pd.set_option('display.width', 10000)

df = pd.read_csv('files/train_2011_2012.csv', nrows=10000, sep=";")

In [20]:
display(df[0:10])

                      DATE  DAY_OFF  DAY_DS  WEEK_END DAY_WE_DS TPER_TEAM  TPER_HOUR  SPLIT_COD  ACD_COD        ACD_LIB      ...      CSPL_ACCEPTABLE CSPL_SERVICELEVEL CSPL_ACDAUXOUTCALLS CSPL_SLVLABNS CSPL_SLVLOUTFLOWS CSPL_RECEIVED_CALLS CSPL_ABANDONNED_CALLS CSPL_CALLS  CSPL_ACWTIME  CSPL_ACDTIME
0  2011-04-24 01:30:00.000        0     NaN         1  Dimanche      Nuit          1        855        1  Entity1 G3RV6      ...                    0                30                   0             0                 0                   0                     0          0             0             0
1  2011-04-24 01:30:00.000        0     NaN         1  Dimanche      Nuit          1       1056        1  Entity1 G3RV6      ...                    0                20                   0             0                 0                   0                     0          0             0             0
2  2011-04-24 01:30:00.000        0     NaN         1  Dimanche      Nuit          1       1057        1  Entity1 G3RV6      ...                    0                20                   0             0                 0                   0                     0          0             0             0
3  2011-04-24 01:30:00.000        0     NaN         1  Dimanche      Nuit          1       1587        1  Entity1 G3RV6      ...                    0                15                   0             0                 0                   0                     0          0             0             0
4  2011-04-24 01:30:00.000        0     NaN         1  Dimanche      Nuit          1       1589        1  Entity1 G3RV6      ...                    0                20                   0             0                 0                   0                     0          0             0             0
5  2011-04-24 01:30:00.000        0     NaN         1  Dimanche      Nuit          1       1591        1  Entity1 G3RV6      ...                    0                 0                   0             0                 0                   0                     0          0             0             0
6  2011-04-24 01:30:00.000        0     NaN         1  Dimanche      Nuit          1       1555        1  Entity1 G3RV6      ...                    1                15                   0             0                 0                   1                     0          1             0           488
7  2011-04-25 01:30:00.000        0     NaN         0     Lundi      Nuit          1         21        1  Entity1 G3RV6      ...                    0                20                   0             0                 0                   0                     0          0             0             0
8  2011-04-25 01:30:00.000        0     NaN         0     Lundi      Nuit          1        711        1  Entity1 G3RV6      ...                    0                30                   0             0                 0                   0                     0          0             0             0
9  2011-04-25 01:30:00.000        0     NaN         0     Lundi      Nuit          1         20        1  Entity1 G3RV6      ...                    0                20                   0             0                 0                   0                     0          0             0             0

[10 rows x 86 columns]